<div class="content">
  <header>Forgot Password</header>
  <form (ngSubmit)="sendForgotPassword(forgotPasswordForm.value)" [formGroup]="forgotPasswordForm" autocomplete="off" novalidate>

    <div class="mb-3 row">
      <label class="col-form-label col-sm-2" for="email">Email:</label>

      <input class="form-control" formControlName="email" id="email" type="email"/>

      <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</em>
      <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>

    </div>
    <br>
    <div class="field">

      <input [disabled]="!forgotPasswordForm.valid" [style.background]="!forgotPasswordForm.valid? '#c9b4fe':'#682efc'" type="submit"
             value="Send Reset Password Link"
      />
    </div>
  </form>
</div>

