<div class="content">
  <div class="forgot-password-box">
    <div class="forgot-password-io-box">

      <div class="sol-box">
        <h2>Forgot Password?</h2>
        <div>
          <form (ngSubmit)="sendForgotPassword(forgotPasswordForm.value)" [formGroup]="forgotPasswordForm" autocomplete="off"
                class="form-box" novalidate>
            <div>
              <p>Email</p>
              <input formControlName="email" id="email" type="email">
              <div class="validation">
                <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</em>
                <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
              </div>
            </div>
            <div>
              <button [disabled]="!forgotPasswordForm.valid" [style.background]="!forgotPasswordForm.valid? '#72767d':''" class="forgot-password-button"
                      type="submit">Send Reset Password Link
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
