<div class="content">
  <header>Register</header>
  <form (ngSubmit)="resetPassword(resetPasswordForm.value)" [formGroup]="resetPasswordForm" autocomplete="off" novalidate>

    <div class="mb-3 row">
      <label class="col-form-label col-sm-2" for="password">Password:</label>

      <input class="form-control" formControlName="password" id="password" type="password"/>


      <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>

    </div>
    <div class="mb-3 row">
      <label class="col-form-label " for="confirmPassword">Confirm Password:</label>

      <input class="form-control " formControlName="confirmPassword" id="confirmPassword" type="password"/>

      <em *ngIf="validateControl('confirmPassword') && hasError('confirmPassword', 'required')">Confirmation is required</em>
      <em *ngIf="hasError('confirmPassword', 'mustMatch')">Passwords must match</em>

    </div>

    <br>
    <div class="field">

      <input [disabled]="!resetPasswordForm.valid" [style.background]="!resetPasswordForm.valid? '#c9b4fe':'#682efc'" type="submit"
             value="Reset Password"
      />

    </div>
  </form>
</div>

