<div class="content">
  <div class="available-games-box">
    <h4 class="whiteText">Available Games</h4>
    <div (click)="changeGameDetails(groupNameToGameDetails.value)"
         *ngFor="let groupNameToGameDetails of groupNameToGameDetailsMap | keyvalue: asIsOrder" class="available-game">
      <div class="available-game-content">
        <span class="gameName">{{groupNameToGameDetails.key}}</span>
        <span class="gamePlayerNumber">
        <b>({{groupNameToGameDetails.value.playersDetails.length}}/10)</b>
        </span>
        <!--Chat Channel-->
        <span *ngIf="!groupNameToGameDetails.value.isVoiceChannel" class="channelIcon material-symbols-outlined">headset_off chat</span>
        <!--Voice Channel-->
        <span *ngIf="groupNameToGameDetails.value.isVoiceChannel" class="channelIcon material-symbols-outlined">headset_mic chat</span>
      </div>
    </div>
  </div>
  <div class="game-details-box">
    <app-join-game-details [selectedGameDetails]="selectedGameDetails"></app-join-game-details>
  </div>


</div>
