<div class="content">
  <div class="available-games-box">
    <h4>Available Games</h4>
    <div (click)="changeGameDetails(groupNameToGameDetails.value)"
         *ngFor="let groupNameToGameDetails of groupNameToGameDetailsMap | keyvalue: asIsOrder" class="available-game">
      <div class="available-game-content">
        <span class="gameName">{{groupNameToGameDetails.key}}</span>
        <span class="gamePlayerNumber">
        <b>({{groupNameToGameDetails.value.playersDetails.length}}/10)</b>
        </span>
        <!--Chat Channel-->
        <span *ngIf="!groupNameToGameDetails.value.isVoiceChannel" class="channelIcon material-symbols-outlined">headset_off chat</span>
        <!--Voice Channel-->
        <span *ngIf="groupNameToGameDetails.value.isVoiceChannel" class=" channelIcon material-symbols-outlined">headset_mic chat</span>
      </div>
    </div>
  </div>
  <div class="game-details-box">
    <app-join-game-details [selectedGameDetails]="selectedGameDetails"></app-join-game-details>
  </div>
</div>
<!--<div class="">-->
<!--  <header>Create A Game</header>-->
<!--  <form (ngSubmit)="joinGame(joinGameForm.value)" [formGroup]="joinGameForm" autocomplete="off" novalidate>-->
<!--    <div>-->
<!--      <label class="" for="lobbyName">Lobby Name:</label>-->

<!--      <input class="" formControlName="lobbyName" id="lobbyName" type="text"/>-->


<!--      <em *ngIf="validateControl('lobbyName') && hasError('lobbyName', 'required')">Lobby Name is required</em>-->
<!--    </div>-->

<!--    <div class="field">-->

<!--      <input [disabled]="!joinGameForm.valid" [style.background]="!joinGameForm.valid? '#c9b4fe':'#682efc'" type="submit"-->
<!--             value="Join Game"-->
<!--      />-->

<!--    </div>-->
<!--  </form>-->

<!--</div>-->

