<div class="">
  <header>Create A Game</header>
  <form (ngSubmit)="joinGame(joinGameForm.value)" [formGroup]="joinGameForm" autocomplete="off" novalidate>
    <div>
      <label class="" for="lobbyName">Lobby Name:</label>

      <input class="" formControlName="lobbyName" id="lobbyName" type="text"/>


      <em *ngIf="validateControl('lobbyName') && hasError('lobbyName', 'required')">Lobby Name is required</em>
    </div>

    <div class="field">

      <input [disabled]="!joinGameForm.valid" [style.background]="!joinGameForm.valid? '#c9b4fe':'#682efc'" type="submit"
             value="Join Game"
      />

    </div>
  </form>

</div>

