.content {
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-family: ethnocentric, sans-serif;
  color: ghostwhite;
  margin-left: 50px;

  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0.0315rem 0 0.625rem 0 #fc0114;

}

.blueText {
  color: #367bee;
}

.whiteText {
  color: ghostwhite;
}

.redText {
  color: #fc0114;
}

.pinkText {
  color: #6583f2;
}


.available-games-box {
  float: left;
  text-align: center;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  border-radius: 10px;
  padding: 20px;

  background-color: #1e1e1e;
  width: 750px;
  height: 100vh;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.available-games-box::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.available-game {
  padding: 10px;
  margin-top: 15px;
  height: fit-content;
  text-align: center;
  /*
  box-shadow: 0.0315rem 0 0.625rem 0 #6583f2;
  */
  border-radius: 5px;
  cursor: pointer;

  background-color: #303338;
}

.available-game:hover {
  box-shadow: 0.0315rem 0 0.625rem 0 #fc0114;
  background-color: #1e1e1e;
}

.available-game-content {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.gameName {
  display: table-cell;
  text-align: left;
}

.gamePlayerNumber {
  display: table-cell;
  text-align: center;
}

.channelIcon {
  display: table-cell;
  text-align: center;
  line-height: 22.5px;
  vertical-align: top;
}

.game-details-box {
  float: left;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  background-color: #1e1e1e;
  width: 750px;
  height: 100vh;

  margin: 5px 5px 5px 10px;
}

.game-details-box::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

@media only screen and (max-height: 590px) {
  .iframe {
    display: none;
  }

}

@media only screen and (max-width: 760px) {
  .content {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    display: revert;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-right: 20px;
    margin-left: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .content::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .game-details-box {
    width: 95%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    margin-top: 10px;
    margin-left: 0;

    height: 390px;
    box-shadow: 0.0315rem 0 0.625rem 0 #fc0114;

  }

  .game-details-box::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .available-games-box {
    width: 95%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    height: 390px;
    box-shadow: 0.0315rem 0 0.625rem 0 #fc0114;

  }

  .available-games-box::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .gameName {
    display: table-cell;
    text-align: left;
  }

  .gamePlayerNumber {
    display: table-cell;
    text-align: left;
  }

  .channelIcon {
    display: none;

  }

  .discord-widget-large {
    display: none;
  }

  .discord-widget-small {
    display: none;
  }
}


.discord-widget-large {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: calc(100vh - 600px);
  width: 350px;
  max-height: 100%;
}

.discord-widget-small {
  display: none;
  /*position: fixed;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*width: 350px;*/
  /*max-width: 100%;*/
  /*clip: rect(114px, 20000px, 20000px, 0px);*/
}


.iframe {
  position: relative;
}

.hide-button-widget-large {
  position: absolute;
  right: 75px;
  top: -245px;
  color: ghostwhite;
  cursor: pointer;
}

.hide-button-widget-small {
  position: fixed;
  bottom: 0;
  right: 150px;
  color: ghostwhite;
  cursor: pointer;
}

.hide-button-widget-small:hover {
  color: #d1d1ff;
}

.hide-button-widget-large:hover {
  color: #d1d1ff;
}
