<div class="content">
  <div class="canvas">

    <!--
        <app-game-canvas></app-game-canvas>
    -->

  </div>
  <!--GameStage.MissionPropose-->
  <div *ngIf="gameDetails.gameStage === 1">
    <div class="game-values">
      <h5>Mission Propose</h5>
      <h6>Mission Round: <b>{{gameDetails.missionRound}}</b></h6>
      <h6 *ngIf="missionLeaderPlayerId === playerId">Mission Team: <b>{{gameDetails.missionTeam.length}}/{{gameDetails.missionSize}}</b>
      </h6>
      <h6 *ngIf="missionLeaderPlayerId !== playerId">Mission Size: <b>{{gameDetails.missionSize}}</b></h6>
      <h6> Mission Leader: <b class="userName">{{getMissionLeaderUsername()}}</b></h6>

      <div *ngIf="missionLeaderPlayerId === playerId">
        <h6> Team Members:
          <span *ngFor="let playerDetail of gameDetails.missionTeam" class="userName">&nbsp;{{playerDetail.userName}}.&nbsp;</span>
        </h6>
        <button (click)="submitTeam()"
                [disabled]="gameDetails.missionTeam.length !== gameDetails.missionSize"
                [ngClass]="gameDetails.missionTeam.length !== gameDetails.missionSize ? 'button-disabled':'propose-team-button'">
          Submit Team
        </button>
      </div>

    </div>

  </div>
  <!--GameStage.Vote-->
  <div *ngIf="gameDetails.gameStage === 2">
    <div class="game-values">
      <h5>Voting</h5>
      <h6>Mission Round: <b>{{gameDetails.missionRound}}</b></h6>
      <h6>Mission Size: <b>{{gameDetails.missionSize}}</b></h6>
      <h6> Mission Leader: <b class="userName">{{getMissionLeaderUsername()}}</b></h6>
      <div>
        <h6> Team Members:
          <span *ngFor="let playerDetail of gameDetails.missionTeam" class="userName">&nbsp;{{playerDetail.userName}}.&nbsp;</span>
        </h6>

        <div *ngIf="!voted">
          <button (click)="submitVote(false)" class="vote-button reject-button">
            Reject
          </button>
          &nbsp;
          <button (click)="submitVote(true)" class="vote-button approve-button">
            Approve
          </button>
        </div>
        <div *ngIf="voted">
          <span>Waiting For:</span>
          <span *ngFor="let playerDetail of gameDetails.playersDetails">

              <span *ngIf="!playerDetail.voted && !playerDetail.isBot" class="userName"> &nbsp;{{playerDetail.userName}}.&nbsp; </span>
            </span>

        </div>

      </div>
    </div>

  </div>


  <!--GameStage.VoteResults-->
  <div *ngIf="gameDetails.gameStage === 3">
    <div class="game-values">
      <h5>Voting Results</h5>
      <h6>Mission Round: <b>{{gameDetails.missionRound}}</b></h6>
      <h6>Mission Size: <b>{{gameDetails.missionSize}}</b></h6>
      <h6> Mission Leader: <b class="userName">{{getMissionLeaderUsername()}}</b></h6>
      <div>
        <h6> Team Members:
          <span *ngFor="let playerDetail of gameDetails.missionTeam" class="userName">&nbsp;{{playerDetail.userName}}.&nbsp;</span>
        </h6>

        <div>
          <span *ngFor="let playerDetail of gameDetails.playersDetails">
            <b class="userName">{{playerDetail.userName}}</b>
            &nbsp;
            <fa-icon *ngIf="!playerDetail.approvedMissionTeam" [icon]="crossIcon" class="icon redIcon"></fa-icon>
              <fa-icon *ngIf="playerDetail.approvedMissionTeam" [icon]="tickIcon" class="icon greenIcon"></fa-icon>
            &nbsp;
          </span>
        </div>

      </div>
     <span> Continuing to (insert next stage here) <countdown #voteResultsCountdown (event)="handleCountdownEvent($event)"  [config]="voteResultsCountdownConfig" class="countdowns"></countdown>

     </span>
    </div>
  </div>

  <!--Lobby Grid-->
  <div class="grid-container lobby-box">
    <div *ngFor="let playerDetail of gameDetails.playersDetails"
         [ngClass]="{
                      'red-border-box': gameDetails.gameStage === 3 && !playerDetail.approvedMissionTeam,
                      'green-border-box':gameDetails.gameStage === 3 && playerDetail.approvedMissionTeam,
                      'white-border-box':playerIsOnMissionTeam(playerDetail.playerId)
          }"
         class="grid-item">
      <fa-icon *ngIf="playerDetail.playerId === missionLeaderPlayerId" [icon]="missionLeaderIcon" class="icon"></fa-icon>
      <div class="top-row-icons">
        <!--For If User is Mission Team Leader && GameStage Is Mission Propose
            They Will have Selectable Mission Team Member Icons-->
        <div *ngIf="missionLeaderPlayerId === playerId && gameDetails.gameStage === 1">
          <fa-icon (click)="teamMemberClicked(playerDetail.playerId)" [icon]="addMemberIcon" class="fa-lg icon-click"></fa-icon>
        </div>

        <fa-icon *ngIf="playerIsOnMissionTeam(playerDetail.playerId)" [icon]="missionTeamMemberIcon"></fa-icon>

      </div>
      <div>
        <h6> {{playerDetail.userName}}</h6>
        <i class="fa-solid fa-person-military-rifle"></i>
      </div>
      <div *ngIf="playerDetail.discordUserName">
        <h6 class="discord-name">
          <fa-icon [icon]="discordIcon" class="fa-sm"></fa-icon>
          : {{playerDetail.discordUserName}}</h6>
      </div>
    </div>
  </div>

  <div class="countdown-values">

    <div>The Resistance</div>
    <div style="float: left">
      <span>Game Time Limit: </span>
      <countdown #gameCountdown [config]="gameCountdownConfig" class="countdowns"></countdown>
    </div>
  </div>

  <!---->
</div>
