.content {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  background-size: cover;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-family: ethnocentric, sans-serif;
  font-size: 13px;
  color: ghostwhite;
  margin-left: 50px;

  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0.0315rem 0 0.625rem 0 #fc0114;
  height: 95vh;

}

.content::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.lobby-box {
  width: 100%;
  float: left;
  height: fit-content;
  background-color: #1e1e1e;
  text-align: center;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

}

.lobby-box::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.game-values {
  width: 100%;
  height: 235px;
  background-color: #1e1e1e;
  text-align: center;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  margin-top: 55px;

}

.game-values::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.countdown-values {
  width: 100%;
  height: fit-content;
  background-color: #1e1e1e;
  text-align: center;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.countdown-values::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.grid-item {
  text-align: left;
  margin: 17px;
  height: 100px;
  width: 90%;
  background-color: #303338;
  border-radius: 5px;
  padding: 5px;
}

.grid-item h6 {
  font-family: satella, serif;
  font-size: 17px;
  color: ghostwhite;
}

.userName {
  font-family: satella, serif;
  font-size: 18px;
  font-weight: 500;
  color: ghostwhite;
}


@media only screen and (max-width: 760px) {
  .content {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    display: revert;
    justify-content: center;
    position: absolute;
    width: 90%;
    margin-right: 20px;
    margin-left: 0;

  }

  .content::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .lobby-box {
    width: 95%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    margin-top: 10px;
    margin-left: 0;
    height: 390px;

  }

  .lobby-box::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .game-values {
    width: 95%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    height: fit-content;
    margin-top: 50px;
    margin-left: 0;

  }

  .game-values::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .countdown-values {
    width: 95%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    height: fit-content;
    margin-top: 10px;
    margin-left: 0;
  }

  .countdown-values::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .grid-item {
    height: 125px;
    width: 100%;
  }
}


.top-row-icons {
  font-size: 25px;
  float: right;
}

.icon {
  font-size: 25px;
}

.icon-click {
  cursor: pointer;
}

.continue {
  text-decoration: underline solid ghostwhite;
  font-style: italic;
  font-size: 20px;
}

.button-disabled {


  font-family: ethnocentric, sans-serif;

  text-align: center;
  padding: 15px;
  border: none;

  cursor: pointer;
  background-color: #303338;
  width: fit-content;
  color: ghostwhite;
  border-radius: 5px;
}

.propose-team-button {
  font-family: ethnocentric, sans-serif;
  text-align: center;
  padding: 15px;
  border: none;
  cursor: pointer;
  background-color: #6583f2;
  width: fit-content;
  color: ghostwhite;
  border-radius: 5px;
}

.propose-team-button:hover {
  background-color: #367bee;
}

.vote-button {
  font-family: ethnocentric, sans-serif;
  text-align: center;
  padding: 15px;
  border: none;
  cursor: pointer;
  width: fit-content;
  color: ghostwhite;
  border-radius: 5px;
}

.reject-button {
  background-color: #ca0110;
}

.reject-button:hover {
  background-color: #fc0114;

}

.approve-button {
  background-color: #38b626;
}

.approve-button:hover {
  background-color: #50d63d;
}

.redIcon {
  color: #fc0114;
}

.greyIcon {
  color: #72767d;

}

.greenIcon {
  color: #50d63d;
}

.blueIcon{
   color:#367bee;
}

.red-border-box {
  border: 1px solid #fc0114;
}

.green-border-box {
  border: 1px solid #50d63d;
}

.white-border-box {
  box-shadow: 0.01575rem 0 0.625rem 0 ghostwhite;
}

/*.start-button {
text-align: center;
padding: 15px;
border: none;
margin-top: 50px;
cursor: pointer;
background-color: #6583f2;
width: 100%;
color: ghostwhite;
border-radius: 5px;
}

.start-button:hover {
background: #367bee;
}*/

.canvas {
  height: 325px;
}


.highlight-spy {
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; /* For modern browsers */
  color: #fc0114 !important;

}

.highlight-resistance{
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; /* For modern browsers */
  color: #367bee !important;
}

.dropdownButton{

  background: none !important;
  border:  none !important;
}

.dropdown-menu {
  min-width: 60px !important;
  background-color: transparent !important;
  border: none !important;
}

.spy-option{
  background: #fc0114!important;
  height:25px !important;
  border-radius: 5px!important;
  color:ghostwhite !important;
  text-align: center !important;
}


.resistance-option{
  background: #367bee!important;
  height:25px !important;
  border-radius: 5px !important;
  color:ghostwhite !important;
  text-align: center !important;

}

.eraser-option{
  background: #1e1e1e !important;
  height:25px !important;
  border-radius: 5px !important;
  color:ghostwhite !important;
  text-align: center !important;

}
