/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Style the video: 100% width and height to cover the entire window */
#Image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


/* Add some content at the bottom of the video/page */
.content {

}


/*
 font
*/
@font-face {
  font-family: "ethnocentric";
  src: url("./assets/fonts/ethnocentric_bd-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "yuzu";
  src: url("./assets/fonts/Yuzu.ttf") format("truetype");
}

@font-face {
  font-family: "satella";
  src: url("./assets/fonts/SatellaRegular-ZVVaz.ttf") format("truetype");
}


#gui {
  position: absolute;
  top: 25px;
  left: 2px
}

.swalModalSpy {
  width: 50% !important;
  color: ghostwhite !important;
  box-shadow: 0.0315rem 0 0.625rem 0 #fc0114 !important;
}

.swalConfirmButtonSpy {
  text-align: center !important;
  padding: 15px !important;
  border: none !important;
  cursor: pointer !important;
  background-color: #303338 !important;
  width: 100% !important;
  color: ghostwhite !important;
  border-radius: 5px !important;
  box-shadow: 0.0315rem 0 0.625rem 0 #fc0114 !important;
}

.swalConfirmButtonSpy:hover {
  background-color: #1e1e1e !important;

}

.SpyFont {
  font-family: ethnocentric, serif;
  font-size: 20px;
  font-weight: 500;
  color: #fc0114;
}

.css-typing p {
  border-right: .15em solid #fc0114;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.css-typing p:nth-child(1) {
  width: 100%;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #fc0114;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #fc0114;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #fc0114;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #fc0114;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: #1e1e1e;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: #1e1e1e;
  }
}

/*.join-game-button {
  text-align: center;
  padding: 15px;

  border: none;

  margin-top: 50px;
  cursor: pointer;

  background-color: #6583f2;

  width: 100%;
  color: ghostwhite;

  border-radius: 5px;
}

.join-game-button:hover {
  background: #367bee;
}*/


/*New Nav Bar*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* todo//font-family: '';*/
  width: calc(100% - 5rem);
  height: 100%;
  /*margin-left: 0rem;*/
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background-image: linear-gradient(to bottom, #1a1a1a, #222223, #292a2b, #303334, #383c3c);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 17.5625rem;
  transition: all .5s ease;

}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 6rem;
  transition: all .5s ease;

}

.discord-button {
  font-size: 20px;
  color: black;
  text-decoration: none
}


.swal {
  font-family: ethnocentric, sans-serif;
  font-size: 15px;
  color: whitesmoke;
  text-align: left;

}

/*Home Page*/

