<div [ngClass]="collapsed ? 'sidenav-collapsed':''" class="sidenav">
  <div class="logo-container">
    <button (click)="toggleCollapse()" class="logo">TRO</button>
    <div *ngIf="collapsed" @fadeInOut class="logo-text">The Resistance Online</div>
    <button (click)="closeSidenav()" *ngIf="collapsed" class="btn-close">
      <i class="material-symbols-outlined">
        close
      </i>
    </button>
  </div>
  <ul *ngIf="isUserAuthenticated" class="sidenav-nav">
    <li *ngFor="let data of navDataLoggedIn" class="sidenav-nav-item">
      <a [routerLinkActiveOptions]="{exact:true}" [routerLink]="[data.routeLink]"
         class="sidenav-nav-link"
         routerLinkActive="active">
        <span class="sidenav-link-icon material-symbols-outlined">{{data.icon}}</span>
        <span *ngIf="collapsed" @fadeInOut class="sidenav-link-text">{{data.label}}</span>
      </a>
    </li>
    <li class="sidenav-nav-item logout">
      <a (click)="logout()" class="sidenav-nav-link">
        <span class="sidenav-link-icon material-symbols-outlined">logout</span>
        <span *ngIf="collapsed" @fadeInOut class="sidenav-link-text">Logout</span>
      </a>
    </li>
  </ul>
  <ul *ngIf="!isUserAuthenticated" class="sidenav-nav">
    <li *ngFor="let data of navDataNotLoggedIn" class="sidenav-nav-item">
      <a [routerLinkActiveOptions]="{exact:true}" [routerLink]="[data.routeLink]"
         class="sidenav-nav-link"
         routerLinkActive="active">
        <span class="sidenav-link-icon material-symbols-outlined">{{data.icon}}</span>
        <span *ngIf="collapsed" @fadeInOut class="sidenav-link-text">{{data.label}}</span>
      </a>
    </li>
  </ul>
  <!--To Do Admin Component-->
</div>
