a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*New SideNav*/
.sidenav {
  /*background-image: linear-gradient(to bottom, #000000, #0a0a0a, #121212, #181818, #1e1e1e);*/
  background: #0a0a0a;
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #fc0114;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0.938rem 0.938rem 0.938rem 0.938rem;
}

.logo {
  background: #0a0a0a;
  text-align: center;
  width: 3.5rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #367bee;
  font-family: ethnocentric, serif;
  color: #367bee;
}

.logo-text {
  margin-left: 1.5rem;
  font-size: 8px;
  font-weight: 900;
  width: 75px;
  font-family: ethnocentric, serif;
  color: #367bee;
  border-left: 1px solid #fc0114;
  padding: 10px;
  height: 50px;
}

.btn-close {
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: pink;
  position: relative;
}

.btn-close:hover {
  color: #fc0114;
}

.fa-times {
  color: ghostwhite;
  font-size: 24px;
}

.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
}

.sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: ghostwhite;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all .3s ease;
  font-family: ethnocentric, serif;
  font-size: 12px;
}

.sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}

.sidenav-link-text {
  margin-left: 1.5rem;
}

.sidenav-nav-item:hover {

}

.sidenav-nav-link:hover {
  background-color: #6583f2;
  color: #000;
}


.active {
  background-color: #367bee;
  color: #000000;
}

.sidenav-link-icon:active {
  background-color: ghostwhite;
  color: black;
}

.sidenav-link-text:active {
  background-color: ghostwhite;
  color: black;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.logout:hover {
  cursor: pointer;
}
