
.navbar {
    background: #271807;
    position: sticky;
    width: auto;
    height: auto;
    box-shadow: 0 0 0.275rem 0 #d48325;
    top: 0;
}


.logo {
    margin-left: 1.5rem;
    font-size: 15px;
    font-weight: 900;
    width: 75px;
    font-family: ethnocentric, serif;
    padding: 10px;
    height: 50px;
    top: 0;
    text-decoration: none;

}


.navbar-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row; /* Change to a horizontal layout */
    justify-content: flex-start; /* Align items at the top */
    height: auto; /* Allow content to expand */
}

.navbar-nav-item {
    width: 100%;
    margin-right: 0.625rem; /* Add spacing between navigation items */
}

.navbar-nav-link {
    display: flex;
    align-items: center;
    color: #f8e9d8;
    text-decoration: none;
    font-family: inconsolata, serif;
    font-size: 18px;
}

.navbar-link-icon {
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

.navbar-link-text {
    margin-left: 1rem;
}


.active {
    color: #fefcf9;
    text-decoration: underline;
}

.logout:hover {
    cursor: pointer;
}
