<header>
  <nav
    class="navbar sticky-top navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3"
    style="background-color: #1C1C1C;"
  >
    <div class="container">
      <a [routerLink]="['/']" class="navbar-brand">The Resistance Board Game Online</a>
      <button
        (click)="toggle()"
        [attr.aria-expanded]="isExpanded"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-target=".navbar-collapse"
        data-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        [ngClass]="{ show: isExpanded }"
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
      >
        <ul class="navbar-nav flex-grow">
          <li
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLinkActive]="['link-active']"
            class="nav-item"
          >
            <a [routerLink]="['/']" class="nav-link text-light">Home</a>
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a [routerLink]="['/counter']" class="nav-link text-light">Counter</a>
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a [routerLink]="['/fetch-data']" class="nav-link text-light"
            >Fetch data</a
            >
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a [routerLink]="['/game']" class="nav-link text-light"
            >Game</a
            >
          </li>

          <ul *ngIf="!isUserAuthenticated" class="navbar-nav flex-grow">

            <li [routerLinkActive]="['link-active']" class="nav-item">
              <a [routerLink]="['/user/']" class="nav-link text-light"
              >Login / Register</a
              >
            </li>
          </ul>
          <ul *ngIf="isUserAuthenticated && isUserAdmin " class="navbar-nav flex-grow">

            <li [routerLinkActive]="['link-active']" class="nav-item">
              <a [routerLink]="['/admin']" class="nav-link text-light"
              >Admin</a
              >

            </li>
          </ul>
          <ul *ngIf="isUserAuthenticated" class="navbar-nav flex-grow">

            <li [routerLinkActive]="['link-active']" class="nav-item">
              <a [routerLink]="['/user/user-edit']" class="nav-link text-light"
              >{{_userDetails ? 'Username: '+_userDetails.userName : 'Profile'}}</a
              >

            <li class="nav-item">
              <a (click)="logout()" class="nav-link text-light"
              >Logout</a
              >

          </ul>
        </ul>
      </div>
    </div>
  </nav>
</header>
