/* OB Forms/Lobby Name */

.lobbyInput {
  position: relative;
  width: 600px;
  height: 124px;


}

/* OB Forms/Chat Channel */

.checkbox {
  position: relative;
  width: 300px;
  height: 28px;

}


/* OB Forms/Create Game */

.buttonPrimary {
  box-sizing: border-box;
}

/* Auto layout */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  position: relative;
  width: 600px;
  height: 68px;

  background: #E53525;
  border: 1px solid #E53525;
  border-radius: 5px;
}
