<div class="content">
  <h4>Game Details</h4>
  <div class="game-details" *ngIf="selectedGameDetails?.channelName">
    <h6>{{selectedGameDetails.channelName}}</h6>
    <h6>{{selectedGameDetails.playersDetails.length}} / 10 players</h6>
    <h6>Host: <span
      class="host-header">{{selectedGameDetails.playersDetails[0].userName}}</span></h6>
    <div class="playerDetails-table">
      <table style="width: 100%;">
        <col style="width:32.5%">
        <col style="width:32.5%">
        <col style="width:17.5%">
        <col style="width:17.5%">
        <tr>
          <th scope="col">UserName</th>
          <th scope="col">Discord</th>
          <th scope="col">Resistance Wins</th>
          <th scope="col">Spy Wins</th>
        </tr>
        <tr *ngFor="let playerDetails of selectedGameDetails.playersDetails ; let i = index">
          <td class="name">{{playerDetails.userName}}</td>
          <td class="name">{{playerDetails?.discordUserName}}</td>
          <td class="resistanceWins">{{playerDetails.resistanceTeamWins}}</td>
          <td class="spyWins">{{playerDetails.spyTeamWins}}</td>
        </tr>
        <tr>
      </table>
    </div>
    <button class="join-game-button" (click)="joinGame(selectedGameDetails.channelName)">Join Game</button>

  </div>
</div>
