.host-header {
  font-family: satella, serif;
  font-size: 17px;
  color: ghostwhite;
}

.blueText {
  color: #367bee;
}

.whiteText {
  color: ghostwhite;
}

.game-details {


}

table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  word-wrap: break-word;
}

th {
  border-bottom: solid slategrey;
}

.playerDetails-table {
  font-size: 13px;
}

.playerDetails-table th {
  font-size: 10px;
}

.playerDetails-table td {
  padding-top: 35px;
}

.name {
  font-family: satella, serif;
  font-size: 17px;
  color: ghostwhite;
}

.resistanceWins {
  color: #367bee;
}

.spyWins {
  color: #fc0114;

}

.join-game-button {
  text-align: center;
  padding: 15px;

  border: none;

  margin-top: 50px;
  cursor: pointer;

  background-color: #6583f2;

  width: 100%;
  color: ghostwhite;

  border-radius: 5px;
}

.join-game-button:hover {
  background: #367bee;
}


/*.login-button {
  text-align: center;
  background-color: #6583f2;
  padding: 15px;
  width: 100%;
  color: #e6e6e6;
  border: none;
  border-radius: 5px;
}

.login-button:hover {
  background: #367bee;

}*/
