<div class="container">
  <h4>Create a lobby</h4>
  <div>
    <form (ngSubmit)="createLobby(createLobbyForm.value)" [formGroup]="createLobbyForm">
      <div>
        <span>Room Id: </span>
        <input formControlName="roomId" id="roomId" type="text">
        <div>
          <ul>
            <li *ngIf="validateControl('roomId') && hasError('roomId', 'required')">
              Room Id is required.
            </li>
            <li *ngIf="validateControl('roomId') && hasError('roomId', 'maxlength')">
              Room Id too long.
            </li>
            <li *ngIf="validateControl('roomId') && hasError('roomId', 'pattern')">
              Invalid characters.
            </li>
          </ul>
        </div>
      </div>
      <div>
        <span>Private Room: </span>
        <input formControlName="privateRoom" id="privateRoom" type="checkbox">
      </div>
      <div class="submit-button">
        <button [disabled]="!createLobbyForm.valid"
                [style.opacity]="!createLobbyForm.valid? '0.5':''"
                [style.pointer-events]="!createLobbyForm.valid? 'none':''"
                class="primary-button button" type="submit">
          Submit
        </button>
      </div>

    </form>
  </div>
</div>
