.container {
    width: 1000px;
    height: 1000px;
}

.webgl {
    position: fixed;

    outline: none;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.point {
    position: absolute;
    top: 20%;
    left: 20%;
}
