.container {

}

h1, h2, h3, h4, h5, h6 {
  font-family: ethnocentric, serif;

}

input {
  box-sizing: border-box;
  width: 80%;
  border-radius: 1px;
  outline: none;
  background-color: #271807;

  border: none;

  padding: 13px;
  color: #f8e9d8;

}

.submit-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.button {
  width: 150px;

}
