
<div class="content">
  <header>Register</header>
  <header>We are sorry this webiste is still in the works! Please Come back soon!</header>
  <!--  <form (ngSubmit)="registerUser(registerForm.value)" [formGroup]="registerForm" autocomplete="off" novalidate>-->

  <form [formGroup]="registerForm" autocomplete="off" novalidate>
    <div class="mb-3 row">
      <label class="col-form-label col-sm-2" for="userName">UserName:</label>

      <input class="form-control" formControlName="userName" id="userName" type="text"/>


      <em *ngIf="validateControl('userName') && hasError('userName', 'required')">UserName is required</em>

    </div>
    <div class="mb-3 row">
      <label class="col-form-label col-sm-2" for="email">Email:</label>

      <input class="form-control" formControlName="email" id="email" type="email"/>


      <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</em>
      <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>

    </div>
    <div class="mb-3 row">
      <label class="col-form-label col-sm-2" for="password">Password:</label>

      <input class="form-control" formControlName="password" id="password" type="password"/>


      <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>

    </div>
    <div class="mb-3 row">
      <label class="col-form-label " for="confirmPassword">Confirm Password:</label>

      <input class="form-control " formControlName="confirmPassword" id="confirmPassword" type="password"/>

      <em *ngIf="validateControl('confirmPassword') && hasError('confirmPassword', 'required')">Confirmation is required</em>
      <em *ngIf="hasError('confirmPassword', 'mustMatch')">Passwords must match</em>

    </div>

    <br>
    <div class="field">

      <input [disabled]="!registerForm.valid" [style.background]="!registerForm.valid? '#c9b4fe':'#682efc'" type="submit"
             value="Register"
      />

    </div>
  </form>
</div>

