<div class="content">
  <div class="register-box">
    <div class="register-io-box">

      <div class="sol-box">
        <h2>Create An Account</h2>
        <h6 style="color:white;">Website is still in development</h6>
        <div>
          <form (ngSubmit)="registerUser(registerForm.value)" [formGroup]="registerForm" class="form-box" novalidate>
            <div>
              <p>UserName</p>
              <input formControlName="userName" id="userName" type="text">
              <div class="validation">
                <em *ngIf="validateControl('userName') && hasError('userName', 'required')">UserName is required</em>
                <em *ngIf="validateControl('userName') && hasError('userName', 'maxlength')">UserName must be less than 30 characters</em>

              </div>
            </div>
            <div>
              <p>Email</p>
              <input formControlName="email" id="email" type="email">
              <div class="validation">
                <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</em>
                <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
              </div>
            </div>
            <div>
              <p>Password</p>
              <input autocapitalize="off" autocomplete="new-password" formControlName="password" id="password" type="password">
              <div class="validation">
                <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
              </div>
            </div>
            <div>
              <p>Confirm Password</p>
              <input autocapitalize="off" autocomplete="new-password" formControlName="confirmPassword" id="confirmPassword"
                     type="password">
              <div class="validation">
                <em *ngIf="validateControl('confirmPassword') && hasError('confirmPassword', 'required')">Confirmation is required</em>
                <em *ngIf="hasError('confirmPassword', 'mustMatch')">Passwords must match</em></div>
            </div>
            <div>
              <button [disabled]="!registerForm.valid" [style.background]="!registerForm.valid? '#72767d':''" class="register-button"
                      type="submit">
                Register
              </button>
            </div>
            <div>
              <span class="iht">Already Have An Account?<a class="login-link" routerLink="/user/login">Login</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
