.content {

  /*Todo Font family*/
  background-size: cover;
  line-height: 10px;
  transition: all .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.register-box {
  width: 500px;
  height: 575px;
  background-color: #1e1e1e;
  text-align: center;
  box-shadow: 0.0315rem 0 0.625rem 0 #fc2001;
  border-radius: 10px;
  padding: 20px;
}

.register-io-box {
  display: flex;
  align-content: stretch;;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.sol-box {
  width: 450px;
}

.sol-box h2 {
  font-family: ethnocentric, serif;
  font-size: 20px;
  font-weight: 500;
  color: #04a5f9;
}


.form-box {
  font-family: ethnocentric, serif;
  font-size: 16px;
  font-weight: 100;
  color: #04a5f9;
}

.form-box input[type="email"] {
  font-family: yuzu, serif;
  font-size: 20px;
  color: #f3f3f3;
}

.form-box input[type="password"] {
  font-family: yuzu, serif;
  font-size: 20px;
  color: #f3f3f3;
}

.form-box input[type="text"] {
  font-family: yuzu, serif;
  font-size: 20px;
  color: #f3f3f3;
}

.form-box p {
  text-align: left;
}

.form-box div {
  padding: 5px;
}

/*ToDo buy the non bold font and use here*/
.sol-box input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  outline: none;
  background-color: #303338;
  border: none;
  padding: 13px;
  color: #e6e6e6;
  font-size: 13px;
}

.forgot-pass-link {
  font-size: 12px;
  text-align: left;
  color: #72767d;
  text-decoration: none;
}

.forgot-pass-link :hover {

  text-decoration: underline;
}


.login-link {
  color: #04a5f9;
  margin-top: 10px;
  text-decoration: none;
  font-size: 14px;
  padding-left: 5px;;
}

.login-link:hover {
  text-decoration: underline;
}

.register-button {
  text-align: center;
  background-color: #04a5f9;
  padding: 15px;
  width: 100%;
  color: #e6e6e6;
  border: none;
  border-radius: 5px;
}

.register-button:hover {
  background: #0493e0;

}

.iht {
  color: #72767d;
  font-size: 14px;
  line-height: 40px;

}

.sag-box {
  right: 10px;
  width: 250px;
  text-align: center;
  line-height: 20px;

}

.sag-box h4 {
  font-family: ethnocentric, serif;
  font-size: 15px;
  font-weight: 700;
  padding: 20px;
  color: #04a5f9;
}

.logo {
  height: 178px;
  width: 177px;
  border-radius: 5px;
  box-shadow: 0.025rem 0 0.56rem 0 #191923;
}

@media only screen and (max-width: 760px) {
  .sag-box {
    display: none;
  }

  .register-box {
    width: 390px;
  }
}

@media only screen and (max-width: 414px) {
  .register-box {
    width: 275px;
    height: 675px;
    margin-left: 50px;
  }
}

/*ToDo buy the non bold font and use here*/
.validation {
  font-size: 10px;
  color: #fc2001;
  text-align: left;
  padding: 0;
}


