<div class="content">
  <div class="login-box secondary-background-color text-color">
    <div class="login-io-box">

      <div class="sol-box">
        <div>
          <h2>Welcome back!</h2>
          <span>Login using: </span>
        </div>
        <!--                <div>-->
        <!--                    <button class="login-button" disabled>Apple</button>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <button class="login-button" disabled>Facebook</button>-->
        <!--                </div>-->
        <div>
          <button class="login-button" (click)="authorize('Google')">Google</button>
        </div>
        <div>
          <button class="login-button" (click)="authorize('Microsoft')">Microsoft</button>
        </div>
        <div>
          <button class="login-button" (click)="authorize('Reddit')">Reddit</button>
        </div>
      </div>

    </div>

  </div>
</div>
