.content {
    background-size: cover;
    line-height: 10px;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.login-box {
    width: 500px;
    height: 390px;
    background-color: #1f1608;
    text-align: center;
    border-radius: 10px;
    padding: 20px;

}

.login-io-box {
    display: flex;
    align-content: stretch;;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.sol-box {
    width: 450px;
    font-family: inconsolata, serif;

}

.sol-box h2 {
    font-family: ethnocentric, serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.sol-box input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    outline: none;
    background-color: #303338;
    border: none;
    padding: 13px;
    font-size: 13px;
}


.login-button {
    text-align: center;
    background-color: #57350f;
    padding: 15px;
    width: 50%;
    border: none;
    border-radius: 5px;
    color: #f8e9d8;
    margin-top: 15px;

}

.login-button:hover {
    text-decoration: #d48325 underline;
}


.sag-box {
    right: 10px;
    width: 250px;
    text-align: center;
    line-height: 20px;
}

.sag-box h4 {
    font-family: ethnocentric, serif;
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
}

.logo {
    height: 178px;
    width: 177px;
    border-radius: 5px;
    box-shadow: 0.025rem 0 0.56rem 0 #191923;
}

@media only screen and (max-width: 760px) {
    .sag-box {
        display: none;
    }

    .login-box {
        width: 390px;
    }
}

@media only screen and (max-width: 450px) {
    .login-box {
        width: 250px;
        height: 450px;

    }
}
