.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  text-align: left;
  margin: 17px;
  height: 100px;
  width: 90%;
  background-color: #303338;
  border-radius: 5px;
  padding: 5px;
}

.grid-item h6 {
  font-family: satella, serif;
  font-size: 17px;
  color: ghostwhite;
}

.content {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-family: ethnocentric, sans-serif;
  color: ghostwhite;
  margin-left: 50px;

  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0.0315rem 0 0.625rem 0 #fc0114;

}

.content::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.lobby-box {

  float: left;

  text-align: center;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  border-radius: 10px;
  background-color: #1e1e1e;
  /*
  box-shadow: 0.0315rem 0 0.625rem 0 #fc0114;
  */
  width: 750px;
  height: 80vh;

  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lobby-box::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.middle {
}

.wins {
  float: right;
  margin: 1px;
  bottom: 0;
}

.resistanceWins {
  color: #367bee;

}

.spyWins {
  color: #fc0114;

}

.game-options {
  color: ghostwhite;
}

.game-options select {
  width: fit-content;
  background-color: #303338;
  color: ghostwhite;
  border-radius: 5px;
  padding: 5px;
}

.game-options input {
  width: 20%;
  background-color: #303338;
  color: ghostwhite;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}


.form-box {
  font-family: ethnocentric, serif;
  font-size: 16px;
  font-weight: 100;
  color: ghostwhite;
}

.form-box p {
  text-align: center;
}

.form-box div {
  padding: 10px;
}

.start-button {
  text-align: center;
  padding: 15px;
  border: none;
  cursor: pointer;
  background-color: #6583f2;
  width: 100%;
  color: ghostwhite;
  border-radius: 5px;
}

.start-button:hover {
  background: #367bee;
}


.validation {
  font-size: 12px;
  color: #fc0114;
  text-align: center;
  padding: 0;
}

.leave-game-button {
  text-align: center;
  border: none;
  margin-left: 50px;
  padding: 15px;
  font-family: ethnocentric, sans-serif;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #6583f2;
  width: 20%;
  color: ghostwhite;
  border-radius: 5px;
}

.leave-game-button:hover {
  background: #367bee;
}


@media only screen and (max-width: 760px) {
  .content {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    display: revert;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-right: 20px;
    margin-left: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .content::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .lobby-box {
    width: 95%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    height: 500px;
    margin-top: 10px;
    margin-left: 0;
    box-shadow: 0.0315rem 0 0.625rem 0 #fc0114;

  }

  .lobby-box::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .form-box {
    width: 95%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    height: 500px;
  }

  .form-box::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .leave-game-button {
    position: absolute;
    top: 2px;
    padding: 2px;
    width: 90%;
    margin-right: 15px;
    margin-left: 5px;

    justify-content: center;
  }
}
