<h1>Game Resistance</h1>
<div *ngIf="startGameCommand.type === GameType.ResistanceClassic">
  <app-game-resistance-classic [gameCommenced]="gameCommenced"
                               [startMissionBuildPhase]="startMissionBuildPhase"
                               [newMissionTeamMember]="newMissionTeamMember"
                               [removeMissionTeamMember]="removeMissionTeamMember"
                               [showMissionTeamSubmit]="showMissionTeamSubmit"
                               [moveToVotingPhase]="moveToVotingPhase"
                               [playerSubmittedVote]="playerSubmittedVote"
                               [removeVotingChoicesSubject] = "removeVotingChoices"
                               [showVoteResultsSubject] = "showVoteResults"
                               [showMissionCardsSubject]="showMissionCards"
                               (objectClickedEventEmitter)="objectClickedEvent($event)"
                               (submitMissionTeamEventEmitter)="submitMissionTeam()">
  </app-game-resistance-classic>

</div>

