.grid-container {
  display: grid;
  grid-template-columns: auto;
  font-family: inconsolata, serif;
  grid-template-rows: auto;
  grid-template-areas:
    "game-lobby-lobbies game-lobby-lobbies game-lobby-lobbies game-lobby-lobbies"
    "game-lobby-create game-lobby-create game-lobby-search game-lobby-search";
}

.game-lobby-lobbies {
  grid-area: game-lobby-lobbies;
  margin: 7px;
  background-color: #1f1608;
  text-align: left;
  border-radius: 10px;
  padding: 20px;

}

.game-lobby-search {
  grid-area: game-lobby-search;
  margin: 7px;
  background-color: #1f1608;
  text-align: left;
  border-radius: 10px;
  padding: 20px;

}

.game-lobby-create {
  grid-area: game-lobby-create;
  margin: 7px;
  background-color: #1f1608;
  text-align: left;
  border-radius: 10px;
  padding: 20px;
}

@media only screen and (max-width: 500px) {
  .grid-container {
    grid-template-areas:
    "game-lobby-lobbies game-lobby-lobbies game-lobby-lobbies game-lobby-lobbies"
    "game-lobby-create game-lobby-create game-lobby-create game-lobby-create"
  "game-lobby-search game-lobby-search game-lobby-search game-lobby-search";
  }

}
