<div *ngIf="!userIsInGame">
  <app-join-game></app-join-game>
</div>
<div *ngIf="userIsInGame">

  <app-game-lobby *ngIf="gameDetails.isAvailable" [gameDetails]="gameDetails" [isTheHost]="isTheHost"></app-game-lobby>
  <app-game *ngIf="!gameDetails.isAvailable" [gameDetails]="gameDetails" [playerId]="playerId"></app-game>
</div>
<!--<div *ngIf="!userInGame">-->
<!--</div>-->
<!--<div *ngIf="userInGame">-->
<!--  <app-lobby [gameDetails]="gameDetails"></app-lobby>-->
<!--</div>-->


<!--<div>-->
<!--  Game Details-->
<!--  {{gameDetails.lobbyName}}-->
<!--  {{gameDetails.playersDetails[0]?.userName}}-->
<!--  {{userInGame}}-->
<!--</div>-->
<!--<div>-->
<!--  <span>Users in Lobby</span>-->
<!--  <ul>-->
<!--    <li *ngFor="let player of gameDetails.playersDetails">-->
<!--      {{player.userName}}-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
