.grid-container {
  display: grid;
  grid-template-columns: auto;
  font-family: inconsolata, serif;
  grid-template-rows: auto;
  grid-template-areas:
    "main-left main-left main-right main-right"
    "footer footer footer footer";
}

.user-details-edit {
  grid-area: main-left;
  margin: 7px;
  background: #181a1c;
  text-align: left;
  border-radius: 10px;
  padding: 20px;

}

.user-details-friends {
  grid-area: main-right;
  margin: 7px;
  background: #181a1c;
  text-align: left;
  border-radius: 10px;
  padding: 20px;

}

.user-details-interactions {
  grid-area: footer;
  margin: 7px;
  background: #181a1c;
  text-align: left;
  border-radius: 10px;
  padding: 20px;

}
